version: '3'

networks:
  my-network:
    driver: bridge
services:
  db-fastfood:
    image: mysql:8
    container_name: db-fastfood
    environment:
      MYSQL_DATABASE: fastfood
      MYSQL_USER: fastfooduser
      MYSQL_PASSWORD: fastfoodpass
      MYSQL_ROOT_PASSWORD: fastfoodroot
    ports:
      - "3306:3306"
    healthcheck:
      test: mysqladmin ping -h 127.0.0.1 -u root --password=$$MYSQL_ROOT_PASSWORD
      timeout: 20s
      retries: 10
    networks:
      - my-network
  api:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: fastfood
    ports:
      - "8080:8080"
    depends_on:
      db-fastfood:
        condition: service_healthy
    networks:
      - my-network